@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 210 30% 95%;
        --foreground: 210 10% 10%;
        --card: 210 30% 97%;
        --card-foreground: 210 20% 30%;
        --popover: 210 20% 100%;
        --popover-foreground: 210 10% 10%;
        --primary: 150 50% 85%;
        --primary-foreground: 210 10% 20%;
        --secondary: 60 100% 90%;
        --secondary-foreground: 210 10% 20%;
        --muted: 210 30% 90%;
        --muted-foreground: 210 10% 15%;
        --accent: 150 70% 85%;
        --accent-foreground: 210 20% 30%;
        --destructive: 0 100% 70%;
        --destructive-foreground: 210 10% 10%;
        --border: 210 20% 80%;
        --input: 210 30% 98%;
        --ring: 150 50% 75%;
        --chart-1: 150 100% 80%;
        --chart-2: 60 100% 80%;
        --chart-3: 240 100% 80%;
        --chart-4: 30 100% 80%;
        --chart-5: 0 100% 80%;
        --radius: 0.5rem;
    }
    .dark {
        --background: 210 20% 15%;
        --foreground: 210 30% 90%;
        --card: 210 20% 20%;
        --card-foreground: 210 30% 90%;
        --popover: 210 20% 20%;
        --popover-foreground: 210 30% 90%;
        --primary: 150 50% 35%;
        --primary-foreground: 210 30% 90%;
        --secondary: 60 100% 60%;
        --secondary-foreground: 210 30% 90%;
        --muted: 210 20% 25%;
        --muted-foreground: 210 30% 90%;
        --accent: 150 70% 40%;
        --accent-foreground: 210 30% 90%;
        --destructive: 0 100% 50%;
        --destructive-foreground: 210 10% 10%;
        --border: 210 20% 30%;
        --input: 210 20% 20%;
        --ring: 150 50% 40%;
        --chart-1: 150 100% 50%;
        --chart-2: 60 100% 50%;
        --chart-3: 240 100% 50%;
        --chart-4: 30 100% 50%;
        --chart-5: 0 100% 50%;
    }
}
@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
